build-32
build-64
abstract-gpu
abstract-physics
core-assets
pharo-vm
pharo
pharo-ui
pharo-local
phcog*
*.dmp
github-cache
package-cache
play-cache
native-libraries*
github-*.zip
ProcessWrapperPlugin.dll
PharoDebug.log
Pharo*.app
*.image
*.changes
*.log
*.sources
Pharo*.zip
woden2.sh
*pharo.cog*.zip
*.tar.gz
