[submodule "core-assets"]
	path = core-assets
	url = https://github.com/ronsaldo/wloden-core-assets.git
	branch = master
[submodule "abstract-gpu"]
	path = abstract-gpu
	url = https://github.com/ronsaldo/abstract-gpu.git
	branch = master
[submodule "abstract-physics"]
	path = abstract-physics
	url = https://github.com/ronsaldo/abstract-physics.git
