build-32
build-64
abstract-gpu
abstract-physics
core-assets
lowtalk
pharo-vm
pharo
pharo-ui
pharo-local
phcog*
*.dmp
github-cache
package-cache
play-cache
native-libraries*
github-*.zip
ProcessWrapperPlugin.dll
PharoDebug.log
Pharo*.app
phanide
*.image
*.changes
*.log
*.sources
Pharo*.zip
woden.sh
*pharo.cog*.zip
*.tar.gz
*.zip
*.pyc
*.dll
*.so
*.ilk
*.lib
*.pdb
*.exp
AgpuIcd
