[submodule "core-assets"]
	path = core-assets
	url = git://github.com/ronsaldo/wloden-core-assets
	branch = master
[submodule "abstract-gpu"]
	path = abstract-gpu
	url = git://github.com/ronsaldo/abstract-gpu
	branch = master
